html,
body {
    height: 100%;
    background-color: #bdbdbd;
}

.table a{border:none!important;}

a {
    color: #252525;
    border-bottom: 1px solid #ccc !important;
}

.content a {
    
}

.main-container {
    background-color: #f4f5f7;
}

.navbar-inverse {
    background-color: #252525;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.btn {
    border-color: #f4f5f7;
}

.btn-success {
    color: #fff;
    background-color: #252525;
}

.btn-danger {
    color: #fff;
    background-color: #af5654;
    /*border-color: #d43f3a;*/
}

.table-bordere .btn {
    padding: 2px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.organisations-widget {
    padding-top: 5px;
}

.organisations-widget select {
    padding: 2px;
    height: auto;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #999;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.panel-primary {
    border-color: #333;
}

.showcase-breadcrumbs {
    color: #333;
}

.order-index > .box > .box-body > .tabs {
    display: none;
}

.table .row{margin:5px auto;border-bottom:1px solid #999;}
.table .caption *{font-weight:900;text-align:center;transition:.5s;}
.table .text{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0;cursor:pointer;transition:.5s;}
.table .text.active{white-space:normal;}
.table .yes{color:#00B74A;text-align:center;}
.table .no{color:#A62000;text-align:center;}
.table a,.table a:hover,.reviews a:active,.reviews a:focus{text-decoration:none;}
.table img{height:25px;opacity:1;transition:.2s;}
.table img:hover{opacity:0.6;transition:.2s;}
.table .row div:last-child{text-align:right;}
.table .imgs img{height:auto;max-width:100%;max-height:150px;}
.table.menu .text{text-align:center;padding:0 10px;}