.item-category, .item-category-o{font-size:10px;}
.modal-backdrop.fade.in{display:none;}

.pagination-panel .pagination {
    padding-left: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    float: right;
}
.pagination-panel .pagination li {
    display: inline-block;
}
.pagination-panel .pagination li + li {
    margin-left: 5px;
}
.pagination-panel .pagination a {
    color: #979797;
}
.pagination-panel .pagination a:hover {
    text-decoration: underline;
}
.pagination-panel .pagination .active a{
    background: #fede01;
    background: -webkit-linear-gradient(#fede01, #f39a1c);
    background: -o-linear-gradient(#fede01, #f39a1c);
    background: linear-gradient(#fede01, #f39a1c);
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
}
.pagination-panel .pagination span, .pagination-panel .pagination a{
    border: none!important;
    background: transparent;
    padding: 0;
}
.pagination > li > a, .pagination > li > span {
    float: none!important;
}
.pagination > li > a:hover, .pagination > li > span:hover {
    background: transparent;
    color: #359f31;
}
.list-view div.clearfix {
    display: block;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    margin: 0 0 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
}
.pistol88-cart-block, .cart-page .clearfix{
    margin: 30px auto;
}
.pistol88-arr{
    line-height: 18px;
    width: 25px;
    height: 21px;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    color: #acacac;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    background: -webkit-linear-gradient(#f5f5f5, #d0d0d0);
    background: linear-gradient(#f5f5f5, #d0d0d0);
    cursor: pointer;
}
.pistol88-change-count .pistol88-cart-element-count{
    width: 25px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    margin: 0;
    padding: 1px;
}
.field-order-payment_type_id, .field-order-shipping_type_id, .pistol88_order_form .btn.btn-default{
    display:none;
}
.pistol88_order_form .btn.btn-success{
    display: inline-block;
    margin: 8px 0;
    padding: 9px 17px 7px;
    font-size: 12px;
    background: #fede01;
    background: -webkit-linear-gradient(#fede01, #f39a1c);
    background: -o-linear-gradient(#fede01, #f39a1c);
    background: linear-gradient(#fede01, #f39a1c);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #456845, -1px -1px 0px #246a24;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(150, 150, 150, 0.6);
}
.cart-page input, .cart-page textarea{
    width: 100%;
}
.price{
    border: none!important;
}
.field-search-minprice, .field-search-maxprice{
    width: 45%!important;
    display: inline-block;
}
#search-maxprice{
    margin-left: 20%;
}
form.count .pistol88-change-count > a, form.count .pistol88-change-count > input{
    float: left!important;
}
form.count .pistol88-change-count{
    float: right!important;
}