/* Общие стили */

body {
	margin: 0;
    padding:0;
    background-color: #fff;
    font-family: 'Open Sans', Helvetica Neue, sans-serif;
    font-size: 14px;
    color:#333;
}
a, button, i {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a {
    color: #fcc500;
}
a:hover, a:focus {
    text-decoration: none;
    color: #333;
}
button:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}
img {
    max-width: 100%;
}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.2s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.2s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.2s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.2s ease;}

#back_top {
    z-index: 9999;
    width: 40px;
    height: 40px;
    background: #fcc500;
    color: #fff;
    text-align: center;
    position: fixed;
    right: 30px;
    line-height: 36px;
    bottom: 30px;
    cursor: pointer;
    border-radius: 100%;
}
#back_top:hover {
    background: #000;
}
#back_top:before {
    content: "\f077";
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 38px;
}
.container, .container-fluid {
    min-width: 970px;
}
/* Шапка */

header {
    padding: 15px 15px 0;
}
header .row:first-child > div + div {
    padding-top: 30px;
}
.logo {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}
.search {
    width: 300px;
    max-width: 100%;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
}
.search input{
    width: 100%;
    padding-right: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 7px 10px 5px;
    font-size: 13px;
    color: #868585;
    box-shadow: inset 1px 1px 3px 0 #e8e8e8;
    background: #fff;
    font-style: italic;
}
.search button {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    right: 0;
    top: 0;
    left: auto;
    line-height: 32px;
    display: block;
    text-align: center;
}
a.cart {
    display: inline-block;
    text-align: center;
    color: #333;    
    border: 1px solid #f5f5f5;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: 1px 1px 0 0 #e8e8e8;
    white-space: nowrap;
    line-height: 30px;
    padding: 0 25px 0 20px;
    cursor: pointer;
    font-weight: 700;
}
a.cart .fa {
    color: #fcc500;
    margin-right: 5px;
    font-size: 18px;
}
a.cart:hover {
    background: #fcc500;
    color: #fff;
}
a.cart:hover .fa {
    color: #fff;
}
.main-menu {
    list-style-type: none;
    padding-left: 0;
    box-shadow: 1px 1px 1px 0px rgba(162, 162, 162, 0.7);
    border-radius: 3px;
    display: table;
    width: 100%;
    clear: both;
    margin-top: 20px;
    position: relative;
    margin-bottom: 0;
}
.main-menu li {
    display: table-cell;
}
.main-menu li a {
    display: block;
    font-size: 13.5px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    text-shadow: -1px -1px 2px #cb9e00, -1px -1px 4px #af921c;
    line-height: 18px;
    border-right: 1px solid #f2e220;
    background: #fede01;
    background: -webkit-linear-gradient(#fede01, #f39a1c);
    background: -o-linear-gradient(#fede01, #f39a1c);
    background: linear-gradient(#fede01, #f39a1c);
    font-weight: 700;
    letter-spacing: 0.5px;
}
.main-menu li a:hover, .main-menu li.active a {
    background: #fede01;
    background: -webkit-linear-gradient(#fede01, #fede01);
    background: -o-linear-gradient(#fede01, #fede01);
    background: linear-gradient(#fede01, #fede01);
}
.main-menu li + li a {
    border-left: 1px solid #fcc500;
}
.main-menu li:first-child a {
    border-radius: 3px 0 0 3px;
}
.main-menu li:last-child a {
    border-right: none;
    border-radius: 0 3px 3px 0;
}
.parent a:hover + .submenu, .submenu:hover {
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.submenu {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 0 0 5px 5px;
    background: #fff;
    background-image: url(../image/menu-bg.png);
    background-size: cover;  
    background-position: top right;  
    padding: 15px 30px;
    margin: -1px 0 0;
    -webkit-transform: rotateX(-75deg);
    -moz-transform: rotateX(-75deg);
    -o-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    -ms-transition: -ms-transform 0.3s, opacity 0.3s;
    -o-transition: -o-transform 0.3s, opacity 0.3s;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
}
.submenu > li {
    display: block;
    max-width: 100%;
    width: 300px;
    font-size: 12px;
}
.submenu li a {
    color: #404040;
    text-shadow: none;
    text-align:left;
    background: none;
    border-radius: 0;
    border: none;
    line-height: 18px;
    padding: 10px 0;
    font-size: 10.5px;
    position: relative;
    display: block;
    border: 0!important;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.submenu li a:hover, .submenu li.active a {
    background: transparent;
}
.submenu li.active > a, .submenu li a:hover {
    text-decoration: underline;
}
a:hover + .subsubmenu, .subsubmenu:hover {
    display: block;
    opacity: 1;
    z-index: 2;
}
li.active > .subsubmenu {
    display: block;
    opacity: 1;
    z-index: 1;
}
.subsubmenu {
    position: absolute;
    z-index: 0;
    opacity: 0;    
    background-image: url(../image/menu-bg.png);
    background-size: cover;  
    background-position: top right;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: 0px;
    left: 300px;
    width: 70%;
    width: calc(100% - 300px);
    box-shadow: 0px 0px 4px 0 #959595;
    border-color: #b2b2b2;
    border-width: 1px;
    padding: 15px 200px 15px 15px;
    column-count: 2;
    height: 100%;
    overflow: hidden;
}
.subsubmenu li a {
    padding: 5px 15px;
    text-transform: none;
    background: transparent;
    background-image: none;
}
.subsubmenu li {
    display: block;
}

/* Подвал */

footer {
    background: #ededed;
    padding: 20px 15px;
    color: #979797;
    font-size: 12px;
    margin-top: 25px;
}
footer .phone {
    font-size: 24px;
    color: #fcc500;
    float: left;
    margin-right: 15px;
}
footer .col-sm-6:first-child a {
    padding: 8px 0;
    display: block;
    color: #3b3b3b;
}
footer .col-sm-6:first-child .clearfix {
    margin-bottom: 15px;
}

footer form {
    position: relative;
    display: inline-block;
    margin-top: 40px;
}
footer input {
    width: 240px;
    padding-right: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 7px 10px 5px;
    font-size: 13px;
    color: #868585;
    box-shadow: inset 1px 1px 3px 0 #e8e8e8;
    background: #fff;
    font-style: italic;
}
footer label {
    display: block;
    float: left;
    width: 100px;
    color: #3b3b3b;
}
footer button {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    position: absolute;
    background: transparent;
    right: 0;
    top: 0;
    left: auto;
    line-height: 32px;
    display: block;
    font-size: 14px;
    color: #fcc500;
    text-align: center;
}
footer ul {
    column-count: 2;
    list-style-type: none;
    padding-left: 0;
}
footer ul li {
    clear: both;
}
footer ul a {
    color: #7a7a7a;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 15px;
    display: block;
    position: relative;
}
footer ul a:hover {
    text-decoration: underline;
}
footer ul a:before {
    content: "\f111";
    font-family: FontAwesome;
    margin-right: 8px;
    font-size: 8px;
    display: block;
    color: #fcc500;
    float: left;
    line-height: 18px;
}

/* Новости */

.block-title {
    text-align: center;
    color: #3b3b3b;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    margin-bottom: 15px;
}
.block-title:after {
    position: absolute;
    content: " ";
    display: block;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    top:50%;
    margin-top: -1px;
}
.block-title span {
    display: inline-block;
    padding: 0 15px;
    background: #fff;
    position: relative;
    z-index: 9;
}
.news {
    padding: 20px 15px;
}
.news-item {
    padding: 20px 15px;
    border: 1px solid #e2e2e2;
}
.title {
    font-size: 16px;
    color: #fcc500;
    font-weight: 700;
    margin-bottom: 8px;
    height: 45px;
    display: block;
    overflow: hidden;
}
a.title:hover {
    text-decoration: underline;
}
.desc {
    color: #3b3b3b;
    height: 55px;
    overflow: hidden;
    font-size: 13px;
}
.date {
    margin-top: 13px;
    color: #979797;
    font-size: 13px;
}

/* Рекоммендованные товары */

.recommend {
    padding: 20px 15px;
    background: #ededed;
}
.recommend .block-title span {
    background: #ededed;
}
.item {
    border: 1px solid #e2e2e2;
    padding: 10px 15px 20px;
    background: #fff;
}
.item-category {
    position: relative;
    margin-left: -20px;
    font-weight: 700;
    float: left;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px rgb(80, 80, 80);
    padding: 6px 30px 6px 10px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background: url(../image/category-bg-o.png) no-repeat;
    background-size: 100% 100%;
}
.item-category:after {
    position: absolute;
    content: '';
    display: block;
    background: url(../image/category-bgo-after.png) no-repeat right center;
    height: 100%;
    width: 13px;
    left: auto;
    right: -11px;
    top: 0;
    background-size: cover;
}
.image-block {
    text-align: center;
    margin-bottom: 8px;
    height: 120px;
    margin-top: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.recommend .title, .owl-carousel-new .title {
    color: #3b3b3b;
}

/* Новинки */

.owl-carousel-new .item {
    position: relative;
    overflow: hidden;
}
.owl-carousel-new .image-block {
    position: absolute;
    right: -75px;
    top: 20px;
    border: 5px solid #eeeeee;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: white;
    overflow: hidden;
    background-size: auto 100px;
    background-position: 20px center;
    background-repeat: no-repeat;
}
.item-wrapper {
    margin-top: 40px;
    margin-right: 60px;
}
.owl-carousel-new .image-block {
    margin-top: 0;
}
.owl-carousel-new .item-category {
    background: url(../image/new-bg.png) no-repeat;
    background-size: 100% 100%;
}
.owl-carousel-new .item-category:after {
    display: none;
}
.owl-dots {
    position: relative;
    margin-bottom: 20px;
}
.owl-dots:after {
    position: absolute;
    content: " ";
    display: block;
    border-top: 1px solid #e2e2e2;
    width: 100%;
    top:50%;
    margin-top: -1px;
}
.owl-dot {
    background: #fff;
    position: relative;
    z-index: 9;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #fcc500;
}
.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
}
.owl-theme .owl-dots .owl-dot + .owl-dot span {
    margin-left: 0;
}

/* Слайдер */

.main-slider {
    padding-bottom: 20px;
}

/* Статичная страница - все оформление в стилях слайдера */

.breadcrumb {
    padding: 0;
    margin-top: 15px;
    font-size: 13px;
    margin-bottom: 15px;
    background-color: #fff;
}
h1, .h1 {
    font-size: 24px;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 15px;
}
.bttn {
    display: inline-block;
    margin: 8px 0;
    padding: 9px 17px 7px;
    font-size: 12px;
    background: #fede01;
    background: -webkit-linear-gradient(#fede01, #f39a1c);
    background: -o-linear-gradient(#fede01, #f39a1c);
    background: linear-gradient(#fede01, #f39a1c);
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #456845, -1px -1px 0px #246a24;
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(150, 150, 150, 0.6);
}
.bttn:hover, .bttn:focus {    
    background: -webkit-linear-gradient(#f39a1c, #fede01);
    background: -o-linear-gradient(#f39a1c, #fede01);
    background: linear-gradient(#f39a1c, #fede01);
    color: #fff;
}
.green {
    color: #fcc500;
}
.static-content ul {
    list-style-type: none;
    padding-left: 0;
}
.static-content ul li:before {
    content: "\f05d";
    font-family: FontAwesome;
    margin-right: 8px;
    color: #fcc500;
}
.sidebar-menu {
    list-style-type: none;
    padding-left: 0;
}
.sidebar-menu li {
    border-top: 1px solid #e2e2e2;
}
.sidebar-menu li:last-child {
    border-bottom: 1px solid #e2e2e2;
}
.sidebar-menu a {
    display: block;
    padding: 9px 8px 4px 30px;
    color: #333;
    position: relative;
}
.sidebar-menu a:before {
    content: "\f061";
    font-family: FontAwesome;
    margin-right: 8px;
    color: #d5d5d5;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -7px;
    font-weight: normal;
    font-size: 13px;
}
.sidebar-menu .active a { 
    color: #fcc500;
    font-weight: 700;
}
.sidebar-menu .active a:before {
    color: #fcc500;
}
.sidebar-menu a:hover, .sidebar-menu a:focus {   
    text-decoration: underline;
}

/* Сертификаты */

.filters {
    background: #ededed;
    border-radius: 4px;
    padding: 4px 5px 3px;
}
.filters label {
    font-weight: normal;
}
.filters select {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 7px 10px 5px;
    font-size: 13px;
    color: #868585;
    box-shadow: inset 1px 1px 3px 0 #e8e8e8;
    background: #fff;
}
.filters a {
    display: inline-block;
    border-bottom: 1px dashed;
    margin-left: 8px;
    padding: 7px 5px 3px;
}
.sertificat .item {
    padding: 8px 7px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    height: 160px;
}
a.img {
    position: relative;
    display: block;
    width: 100px;
    float: left;
    margin-right: 7px;
    text-align: center;
}
a.img:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
}
a.img:after {
    position: absolute;
    content: "\f002";
    font-family: FontAwesome;
    font-size: 18px;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -8px;
    opacity: 0;    
    color: #fff;
}
a.img:hover:before, a.img:hover:after {
    opacity: 1;
}
.sertificat img {
    height: 144px;
}
.sertificat p {
    height: 80px;
    overflow: hidden;
}

/* Контакты */

.contact-box {
    border: 2px solid #efefef;
    border-radius: 3px;
    margin-bottom: 10px;
}
.contact-box .clearfix {
    padding: 15px 0;
}
.contact-box .h4 {
    margin: 0 0 15px;
    font-weight: 700;
}
.contact-box .fa {
    color: #fcc500;
    margin-right: 8px;
}

/* Реклама */

.pagination-panel {
    background: #ededed;
    border-radius: 4px;
    padding: 12px 8px;
    margin-bottom: 15px;
}
ul.pages {
    padding-left: 0;
    list-style-type: none;
    display: inline-block;
}
.pages li {
    display: inline-block;
}
.pages li + li {
    margin-left: 5px;
}
.pages a {
    color: #979797;
}
.pages a:hover {
    text-decoration: underline;
}
.pages .active {
    background: #fede01;
    background: -webkit-linear-gradient(#fede01, #f39a1c);
    background: -o-linear-gradient(#fede01, #f39a1c);
    background: linear-gradient(#fede01, #f39a1c);
    color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
}
.info .col-sm-9 > div {
    display: block;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
    margin: 0 0 20px;
}
.info .item-category, .info .item-category-o {
    margin-left: 0;
    padding: 6px 30px 6px 15px;
}
.info .item-category .date, .info .item-category-o .date {
    margin-top: 0;
    color: #fff;
    font-weight: normal;
    text-transform: none;
    font-size: 10px;
}
.item-category-o {
    position: relative;
    font-weight: 700;
    float: left;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.5);
    padding: 6px 30px 6px 10px;
    text-align: center;
    border-radius: 5px 0 0 5px;
    background: url(../image/category-bg-o.png) no-repeat;
    background-size: 100% 100%;
}
.item-category-o:after {
    position: absolute;
    content: '';
    display: block;
    background: url(../image/category-bgo-after.png) no-repeat right center;
    height: 100%;
    width: 13px;
    left: auto;
    right: -11px;
    top: 0;
    background-size: cover;
}
.info .date .fa {
    margin-right: 3px;
    margin-left: 8px;
    display: inline-block;
}
.info .title {
    height: initial;
    margin-top: 8px;
    color: #333;
}
.info-img {
    float: left;
    margin-right: 13px;
    width: 200px;
    text-align: center;
}
.info-img img {
    max-height: 150px;
}
.sidebar .bttn {
    width: 100%;
    margin-bottom: 15px;
}
.sidebar .image-block {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    height: initial;
    margin-top: 0;
}
.category-menu {
    margin-bottom: 15px;
    list-style-type: none;
    padding-left: 0;
}
.category-menu a {
    display: block;
    color: #404040;
    font-size: 15px;
    text-decoration: none;
    padding: 12px 0 8px 20px;
    font-weight: 700;
}
.category-menu a:hover, .category-manu a:focus {
        color: #359f31;
}
.category-menu .active a {
    color: #fcc500;
    background: #ededed;
    border-radius: 4px;
}
.sinle-page-img {
    float: left;
    max-width: 280px;
    margin: 0 15px 8px 0;
}
.return {
    margin-top: 20px;
    text-decoration: underline;
    display: inline-block;
}

/* Фото и видео */

.foto-box {
    background: #ededed;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}
.foto-box .h3 {
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}
.foto-box .h3 span {
    background: #ededed;
    position: relative;
    z-index: 9;
    padding: 0 15px;
    font-weight: 700;
}
.foto-box .h3:after {
    position: absolute;
    content: " ";
    width: 100%;
    border-top: 1px solid #e2e2e2;
    top: 50%;
    left: 0;
}
.foto-box .col-sm-3 {
    margin-bottom: 15px;
}
.video {
    background: #fcc500;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
}
.foto-box .col-sm-3 > div a {
    margin-bottom: 8px;
    display: block;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.video a {
    background: url(../image/video.png) no-repeat center center;
    background-size: cover;
    height: 160px;
}

/* Список категорий */

.category-list .col-sm-3 {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
}
.category-list a {
    display: block;
}
.category-list a:first-child {
    height: 140px;
    overflow: hidden;
}
.category-list img {
    margin-bottom: 15px;
    max-height: 100%;
}
.category-list .desc {
    height: 55px;
    overflow: hidden;
}
.category-name {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    height: 35px;
    overflow: hidden;
}
.show-products {
    margin-top: 15px;
}
.show-products span {
    font-weight: 700;
    text-decoration: underline;
}

/* Категория товаров */

.price {
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}
.pagination-panel label {
    margin-left: 10px;
    font-weight: normal;
}
.pagination-panel select {
    background: transparent;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 3px;
    font-size: 13px;
    color: #868585;
    box-shadow: inset 1px 1px 3px 0 #e8e8e8;
}
.pagination-panel option {
    background: #ededed;
}
.category-title {
    background: #fcc500;
    color: #fff;
    display: block;
    margin: 5px 0 15px;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: bold;
}
.category-view .col-sm-9 .row {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
}
.category-view .col-sm-9 .col-sm-3:first-child {
    text-align: center;
    height: 200px;
}
.category-view  img {
    max-height: 100%;
}
.category-view .col-sm-9 .h3 {
    font-weight: bold;
    color: #fcc500;
    font-size: 22px;
}
.category-view .col-sm-9 .h3:hover {
    text-decoration: underline;
}
.category-view .pull-right {
    margin-bottom: 15px;
    margin-left: 15px;
}
.count a {
    line-height: 18px;
    width: 25px;
    float: right;
    height: 23px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    color: #acacac;
    border: 1px solid #e2e2e2;
    background: #f5f5f5;
    background: -webkit-linear-gradient(#f5f5f5, #d0d0d0);
    background: linear-gradient(#f5f5f5, #d0d0d0);
    cursor: pointer;
}
.count .plus {
    border-radius: 0 4px 4px 0;
}
.count .minus {
    border-radius: 4px 0 0 4px;
}
.count input {
    float: right;
    line-height: 18px;
    width: 25px;
    height: 23px;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-size: 13px;
}
.category-view form .bttn {
    padding: 10px;
    margin: 15px 0;
}
.fa-shopping-cart{
    margin-right: 3px;
    font-size: 14px;
}
.seo-text {
    padding: 20px 0 0;
}
.search-product, .side-block {
    background: #ededed;
    border-radius: 3px;
    padding: 17px 10px 11px;
}
.search-product b, .side-block b {
    font-size: 18px;
    color: #fcc500;
    margin-bottom: 18px;
}
.search-product label {
    font-size: 12px;
    margin-bottom: 3px;
    display: block;
    padding-left: 3px;
}
.search-product input {
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 7px 10px 5px;
    box-shadow: inset 1px 1px 3px 0 #e8e8e8;
    background: #fff;
    font-size: 13px;
}
.search-product input + input {
    margin-left: 8%;
}
.search-product .bttn {
    margin: 5px 0 !important; 
}
.side-block ul {
    padding-left: 0;
    list-style-type: none;
}
.side-block a {
    color: #333;
}
.side-block a:hover {
    text-decoration: underline;
}
.side-block > ul > li > a {
    font-weight: 700;
}
.side-block ul ul {
    padding-left: 8px;
}

/* Карточка товара */

.product-page {
    padding-bottom: 40px;
}
.product-page form .col-sm-6, .product-page form .col-sm-3 {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding: 8px 15px 6px;
    min-height: 39px;
}
.product-page form .price {
    font-size: initial;
    margin-bottom: 0;
    text-align: left;
}
.weight {
    color: #afafaf;
}
.product-page .count .pull-right {
    padding-left: 10px;
}
.item-image {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}
.main-image-box {
    display: table-cell;
    vertical-align: middle;
    height: 240px;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
#main-img {
    position: relative !important;
    max-height: 100%;
    cursor: pointer;
}
.item-image>.clearfix {
    height: 15px;
    display: table-row;
}
#product-gallery {
    position: relative;
    display: table-row;
    overflow: hidden;
    text-align: center;
}
#product-gallery > a {
    display: inline-block;
    float: left;
    width: 20%;
    margin-right: 3%;
    height: 60px;
    border: 1px solid transparent;
    padding: 3px;
}
#product-gallery > a.active {
    border: 1px solid #61a93e;
}

/* Оформление заказа */

.cart-page .h3 {
    position: relative;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
}
.cart-page .h3 span {
    background: #fff;
    position: relative;
    z-index: 9;
    padding: 0 15px;
    font-weight: 700;
}
.cart-page .h3:after {
    position: absolute;
    content: " ";
    width: 100%;
    border-top: 1px solid #e2e2e2;
    top: 50%;
    left: 0;
}
.cart-page label {
    width: 28%;
    padding: 6px 6px 6px 0;
    white-space: nowrap;
}
.cart-page label span {
    color: red;
}
.cart-page input {
    background: #fff;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    color: #000;
    box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
    outline: none;
    font-size: 14px;
    padding: 6px 8px;
    margin-bottom: 10px;
    width: 70%;
}
.cart-page select {
    background: #fff;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    color: #000;
    box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
    outline: none;
    font-size: 14px;
    padding: 6px 8px;
    margin-bottom: 10px;
}
.cart-page textarea {
    width: 70%;
    resize: none;
    background: #fff;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    color: #000;
    box-shadow: inset 2px 2px 2px -1px rgba(180,188,191,0.5);
    outline: none;
    font-size: 14px;
    padding: 6px 8px;
    margin-bottom: 10px;
}
.cart-page .col-sm-6:nth-child(2) label {
    vertical-align: top;
}
.cart-page .bttn {
    font-size: 16px;
}
input[type=checkbox] {
    width: 18px;
    height: 18px;
    border: 1px solid #c1c5c8;
    border-radius: 2px;
    background: #dfdfdf;
}
.cart-row input[type=checkbox] {
    margin-top: 66px;    
}
.cart-row {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
}
.cart-page .col-sm-1, .cart-row .col-sm-2 {
    text-align: center;
}
.cart-row  .count input {
    width: 25px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ededed;
    font-size: 13px;
}
.cart-row img {
    height: 150px;
}
.cart-row .col-sm-5 a {
    font-size: 18px;
    font-weight: 700;
}
.remove-add {
    padding: 9px 0 6px 0;
    background: #ededed;
    border-radius: 4px;
    margin: 30px 0 25px;
}
.bttn-grey {
    color: #000;
    padding: 7px 16px 8px;
    font-size: 13px;
    background: #dedede;
    background: -webkit-linear-gradient(#dedede, #c0c0c0);
    background: -o-linear-gradient(#dedede, #c0c0c0);
    background: linear-gradient(#dedede, #c0c0c0);
    text-transform: none;
    font-size: 13px;
    padding: 8px 22px;
    text-shadow: 1px 1px 0 #fff;    
    text-align: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px 0px rgba(150, 150, 150, 0.6);
    font-weight: 700;
}
.bttn-grey:hover, .bttn-grey:focus {
    background: #dedede;
    background: -webkit-linear-gradient(#c0c0c0, #dedede);
    background: -o-linear-gradient(#c0c0c0, #dedede);
    background: linear-gradient(#c0c0c0, #dedede);
}
.remove-add .count {
    padding-top: 8px;
}
.remove-add .count input {
    width: 25px;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ededed;
    font-size: 13px;
}
.remove-add .count .pull-right {
    padding: 0 15px;
}
.remove-add .col-sm-6 > input, .remove-add .col-sm-6 > label {
    margin-top: -8px;
    margin-bottom: 0;
    width: initial;
}
.remove-add input[type=checkbox] {
    margin-top: 12px;
}

/* Модалка */

#messeng {
    text-align: center;
}
.modal-open .modal {
    background: rgba(0, 0, 0, 0.3);
}
#messeng input, #messeng textarea {
    resize: none;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    padding: 7px 10px 5px;
    font-size: 13px;
    color: #868585;
    box-shadow: inset 1px 1px 3px 0 #e8e8e8;
}
#messeng .modal-dialog {
    max-width: 360px;
}